.home {
    display: flex;
    padding: 0 50px;
}

.home-header {
    font-size: 34px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #3f0bde;
    text-align: center;
    font-weight: 600;
    color: #fff;
}