  @import url('https://fonts.googleapis.com/css2?family=Alata&family=Outfit:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;600;700&family=Raleway:wght@700&display=swap');

  :root {
    --prime-font: 'Poppins', sans-serif;
    --sec-font: 'Outfit', sans-serif;
    --opt-1: 'Alata', sans-serif;
    --opt-2: 'Raleway', sans-serif;
  }